body{
    background-image: url('rift1.jpg');
    background-size: cover;
    background-attachment: fixed;
}
html{
    scroll-behavior: smooth;
}
header{
    color: aliceblue;
}
h1{
    font-size: larger;
}