body{
    background-image: url('earth3.jpg');
    background-size: cover;
    background-attachment: fixed;
}
html{
    scroll-behavior: smooth;
}

h1 ,h2, a {
    font-family: Rockwell, Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
}
p {
    font-family: Rockwell, Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
}
#about {
    width: 750px;
    padding: 20px;
    margin: auto;
} 
#precambrian{
    background-color: rgba(165, 42, 42, 0.477);
    width: 750px;
    padding: 20px;
    margin: auto;
    border-radius: 8px;
}
#phanerozoic{
    background-color: rgba(109, 109, 249, 0.418);
    width: 750px;
    padding: 20px;
    margin: auto;
    border-radius: 8px;
}